.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex: 3;

    &__item {
      margin-right: 30px;
      &:nth-of-type(3) {
        margin-right: 150px;
      }
      .menu-link {
        text-decoration: none;
        color: $dark-gray;
        font-family: $montserrat;
        font-weight: bold;
        letter-spacing: 0.03em;
        font-size: 22px;
        transition: color 0.4s ease;

        &:hover {
          color: $primary-color;
        }
      }
      .active {
        color: $primary-color;
      }
    }
  }
  .nav-button-group {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    .nav-button {
      align-self: flex-end;
      button {
        background-color: $primary-color;
        color: $dark-gray;
        width: 110px;
        height: 40px;
        border: none;
        border-radius: 5px;
        font-family: $montserrat;
        font-weight: bold;
        font-size: 18px;
        margin-top: -8px;
        margin-right: 20px;
        cursor: pointer;
      }
    }

    .icon-search {
      font-size: 28px;
      color: $dark-gray;
      cursor: pointer;
    }
  }
  .nav-cart {
    margin: 0 20px;
    cursor: pointer;
    .icon-basket {
      font-size: 28px;
      color: $dark-gray;
    }
  }
}
