.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .nav-menu {
    display: flex;
    list-style: none;

    &__item {
      margin-right: 30px;

      .menu-link {
        text-decoration: none;
        color: $dark-gray;
        font-family: $montserrat;
        font-weight: bold;
        letter-spacing: 0.03em;
        font-size: 22px;
      }
    }
  }
}
