$primary-color: #ffc542;
$white: #ffffff;
$gray: #b2a8a4;
$black: #0f0f0f;
$dark-gray: #4a4746;
$red-800: #d7383b;
$red: #cb3b31;
$light-gray: #e1dbd8;
$green: rgb(17, 134, 120);
$p-color: #263238;

//font
$montserrat: 'Montserrat', sans-serif;

//media queries
$mobil: 320px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
